:host {
    background-color: white;
}

#menu .close {
    position: absolute;
    right: 1rem;
    width: 3rem;
    height: 3rem;
}

.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    /* background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
}

section {
    color-scheme: light dark;
}

label {
    display: block;
}

#menu::backdrop {
    background-color: black;
    opacity: 0.5;
}

nav::backdrop {
    background-color: darkorange;
}

nav {
    overscroll-behavior: contain;
    min-height: 200vh;
    position: fixed;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    background-color: white;
}

dialog li {
    cursor: pointer;
    padding-bottom: 0.25rem;
}
dialog li:hover {
    text-decoration: underline;
}

#settings {
    padding: 1rem;
}

#settings label {
    display: flex;
    align-items: center;
}

#settings input[type=number] {
    width: 3.5rem;
}



section {
    padding: 1rem;
    background-color: var(--setting-background-color);
    color: var(--setting-color);
    font-size: var(--setting-font-size);
    line-height: var(--setting-line-height);
    letter-spacing: var(--setting-letter-spacing);
}

.line {
    min-height: 1rem;
}

.last-read {
    background-color: darkorange;
}

.hidden {
    display: none;
}
